{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
    <h1>Hello I am Update</h1>
    
        <div class="row justify-content-center my-2">
            <div class="col-md-6">
                <form action="{% url 'add' %}" method="post"  enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a href="{% url 'home' %}" class="btn btn-info">Cancle</a>
                    <button class="btn btn-outline-danger" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}