{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
    <h1>Hello I am Register</h1>
        <div class="row justify-content-center my-2">
            <div class="col-md-6">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-outline-danger" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}